.first-screen {
  background: #e9d7c9;
  height: 100vh;
  width: 100vw;

  .slider-container {
    position: relative;
    height: 41.873vh;
    .slide-image {
      .image-container {
        position: relative;
        width: 113%;
        left: -106px;
        top: -25px;

        .image-mask {
          position: absolute;
          mask-image: url(../img/_src/ellipse.svg);
          mask-mode: alpha;
          mask-repeat: no-repeat;
          mask-size: 100%;
          width: 100%;
          z-index: 1;
        }

        .image-back {
          position: absolute;
          background: url(../img/_src/ellipse.svg) no-repeat;
          display: block;
          left: 7px;
          top: 5px;
          width: 100%;
          height: 342px;
          background-size: contain;
        }
      }
    }

    .slide-intent {
      z-index: 2;
      position: absolute;
      text-align: right;
      top: 36vh;
      right: 10px;

      h2.intent-title {
        font-family: "SF Display";
        font-weight: 300;
        text-align: right;
        background: #dfc4b0;
        display: inline;
        font-size: 12vw;
        padding: 0 10px;
        line-height: 0.9;
        .smaller {
          font-size: 6vw;
          vertical-align: middle;
        }
      }
    }
  }
  .slogan {
    text-align: right;
    width: 95vw;
    line-height: 1.4;
    position: absolute;
    bottom: 29vh;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 2.1vh;
  }
  .tips {
    left: 0;
    right: 0;
    margin: auto;
    width: 95vw;
    bottom: 13vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: unset;
    .tips-item {
      flex: 0 0 38%;
      font-size: 3.3vw;
      font-weight: 300;
      line-height: 1.4;
      margin: 2vh 0.1vh 0 0;
      position: relative;
      padding-left: 9vw;
    }
    .tips-item:before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      background-image: url("../img/list-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
    }
  }
  .offer {
    display: flex;
    justify-content: space-between;
    width: 93vw;
    position: absolute;
    bottom: 2vh;
    left: 0;
    right: 0;
    margin: auto;
    &-item {
      flex: 0 0 41%;
      border: 1px solid #000;
      border-radius: 25px;
      text-align: center;
      margin-top: 20px;
      color: #000;
      padding: 10px;
      font-size: 14;
      font-family: "SF Display";
      text-transform: uppercase;
      text-decoration: none;
    }
    &-item.accent {
      color: #fff;
      border: unset;
      background: linear-gradient(180deg, #ff0844 0%, #ff0844 100%);
      box-shadow: 0px 10px 15px rgba(255, 8, 68, 0.3);
    }
  }
}
